{% extends 'dashboard.html' %}
{% block body %}

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
{#                <div class="contact-t">#}
                <h3 class="card-title">Agra</h3>
                <div class="card-description">
                        <img alt="" style="width: 218.7px; height: 164.3px; margin-top: 7.8px; margin-left: 0px;" class="" src="https://tse3.mm.bing.net/th?id=OIP.T7xNWDj_EFKSdVQvq6BCfAHaFk&amp;pid=Api&amp;P=0" id="yui_3_5_1_1_1679187963682_634">
                        <img alt="" style="width: 252.8px; height: 142.2px; margin-top: 18.9px; margin-left: 0px;" class="" src="https://tse4.mm.bing.net/th?id=OIP.bNjS4QUrrALaTVLmTIebIgHaEK&amp;pid=Api&amp;P=0" id="yui_3_5_1_1_1679187963682_632">
                    <p>Agra is one of the most populous cities in Uttar Pradesh,
                    and the 24th most populous city in India. Agra is a major tourist destination because of
                    its many Mughal-era buildings, most notably the Taj Mahal, Agra Fort and Fatehpūr Sikrī, all
                    three of which are UNESCO World Heritage Sites.</p>
                    <br>
                    <h3> Feedback </h3>
                    <br>


                        <img alt="" class="xvVSEe" src="https://lh3.googleusercontent.com/a/AGNmyxbGtm5gGtiOSMiBDlUMoOBGqlNgnlrAXTqBjGot=s40-cc-mo" data-iml="929.8000000119209">vigneesh
                        <p>It was very nice experience and romantic places ,feeling good</p>
                        <p><a href="/write_feedback">Write feedback</a></p>
{#                    <div class="row">#}
{#                            <div class="col-12">#}
{#                                <div class="table-responsive">#}
{#                                    <table id="example" class="display expandable-table" style="width:100%">#}
{#                                        <thead align="center">#}
{#                                        <tr>#}
{#                                            <th>#</th>#}
{#                                            <th>Name</th>#}
{#                                            <th>Feedback</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody class="font-weight-500">#}
{#                                        {% for i in data %}#}
{#                                            <tr>#}
{#                                                <td>&nbsp;{{ loop.index }}</td>#}
{#                                                <td align="center">#}
{#                                                    {{ i['name'] }}#}
{#                                                </td>#}
{#                                                <td>#}
{#                                                    {{ i['feedback'] }}</td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{#                                        </tbody>#}
{##}
{#                                        <p><a href="/write_feedback">Write feedback</a></p>#}
{##}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}