{% extends 'dashboard.html' %}
{% block body %}

  <h2>Arjun Cottage</h2>
  <h4>Location:12/1A, Nullatanni, Munnar, Kerala 685612</h4>
  <h4>Images:<img src="https://lh5.googleusercontent.com/p/AF1QipN1BWWSHqjD3f_C1wzmrN9TOey_d61VMLAKf7-X=w253-h168-k-no,https://lh5.googleusercontent.com/p/AF1QipNirDJTh3j68OnlkmpHjr7q-XKuT_XyMB4qAVhU=w253-h168-k-no"></h4>
  <h4>rates:1300</h4>
  <h4>email id:arjuncottagesmunnar@gmail.com</h4>
  <h4>phone no:9876459044</h4>
  <h2>Food</h2>
<!--  <table border="1"> -->
<!--     <tr> -->
<!--       <th>Food_items</th> -->
<!--       <th> Price</th> -->
<!--       <th>images</th> -->
<!--     </tr> -->
<!--     <tr> -->
<!--       <td>chappathi</td> -->
<!--       <td></td> -->
<!--       <td></td> -->
<!--   </table> -->
    <h3> vegetatian and non vegitarian foods are available</h3>
    <h3> Free wifi</h3>
  <h2><a href="#">view Location</a></h2>

{% endblock %}