{% extends 'dashboard.html' %}
{% block body %}

<h2>Florra Inn</h2>
  <h4>Light House Beach, Kovalam, Vizhinjam PO, 695572 Kovalam</h4>
  <h4>Images:</h4><img class="bh-photo-modal-grid-image" data-id="141274154" alt="Gallery image of this property" height="260.44444444444446px" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/141274154.jpg?k=0249ca2ccf01ffd921038818fe6d791f51aeb09de5ec3503f6871a4c3d510dbb&amp;o=&amp;hp=1">
  <h4>rates:1200</h4>
  <h4>email id:inn@gmail.com</h4>
  <h4>phone no:9867439012</h4>
  <h2>Food</h2>
<!--  <table border="1"> -->
<!--     <tr> -->
<!--       <th>Food_items</th> -->
<!--       <th> Price</th> -->
<!--       <th>images</th> -->
<!--     </tr> -->
<!--     <tr> -->
<!--       <td>chappathi</td> -->
<!--       <td></td> -->
<!--       <td></td> -->
<!--   </table> -->
    <h3> vegetatian and non vegitarian foods are available</h3>
    <h3> </h3>
  <h2><a href="#"></a></h2>
{% endblock %}