{% extends 'dashboard.html' %}
{% block body %}

       <h2>Hamuse Resort</h2>
  <h4>Location:
Near Kodaikanal Lake, Kodaikanal | 27 m from Kodaikanal Bus Stand</h4>
  <h4>Images:</h4>
<img src="//r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201711221649302421-face674a8db211ed93f80a58a9feac02.jpg?&amp;output-quality=75&amp;downsize=910:612&amp;crop=910:612;4,0&amp;output-format=jpg" alt="" width="450" height=" 250">
  <h4>rates:1500</h4>
  <h4>email id:hamuse@gmail.com</h4>
  <h4>phone no:9072345378</h4>
  <h2>Food</h2>
<!--  <table border="1"> -->
<!--     <tr> -->
<!--       <th>Food_items</th> -->
<!--       <th> Price</th> -->
<!--       <th>images</th> -->
<!--     </tr> -->
<!--     <tr> -->
<!--       <td>chappathi</td> -->
<!--       <td></td> -->
<!--       <td></td> -->
<!--   </table> -->
    <h3> vegetatian and non vegitarian foods are available</h3>
    <h3> Free wifi</h3>
  <h2><a href="#">view feeback</a></h2>
{% endblock %}