{% extends 'dashboard.html' %}
{% block body %}

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
{#                <div class="contact-t">#}
                <h3 class="card-title">Kashmir</h3>
                <div class="card-description">
                  <img class="s-img" width="211.1" height="118.4" alt="Kashmir Wallpaper (44+ images)" title="Kashmir Wallpaper (44+ images)" data-pos="0" src="https://tse1.mm.bing.net/th?id=OIP.98EiYD0zGiKgWVKbusJ2yAHaEK&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=211&amp;h=118">
         <img class="s-img" width="211.1" height="118.4" alt="Jammu And Kashmir Wallpapers - Wallpaper Cave" title="Jammu And Kashmir Wallpapers - Wallpaper Cave" data-pos="1" src="https://tse1.mm.bing.net/th?id=OIP.THWsKAhnu10cmfW9HGlKDwHaEK&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=211&amp;h=118">
                    <p>
Jammu and Kashmir is the northern most state in India. The state is Asia's 'Heaven on Earth', rich in premium cash crops like walnuts and saffron, blessed with jaw-dropping natural beauty all year long
                   </p>
                    <br>
                    <h3> Feedback </h3>
                    <br>

                        <img alt="" class="xvVSEe" src="https://lh3.googleusercontent.com/a/AGNmyxbGtm5gGtiOSMiBDlUMoOBGqlNgnlrAXTqBjGot=s40-cc-mo" data-iml="929.8000000119209">Surya
                        <p>It was very nice experience . I enjoyed it</p>
                        <p><a href="/write_feedback">Write feedback</a></p>
                </div>
            </div>
        </div>
</div>
{% endblock %}