{% extends 'dashboard.html' %}
{% block body %}

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
{#                <div class="contact-t">#}
                <h3 class="card-title">Kodaikanal</h3>
                <div class="card-description">
                 <img class="s-img" width="174.1" height="99.5" alt="Kodaikanal is a hill town in the southern Indian state of Tamil Nadu." title="Kodaikanal is a hill town in the southern Indian state of Tamil Nadu." data-pos="0" src="https://tse1.mm.bing.net/th?id=OIP.-hZbcYeMJfpg0xtdpEgiNwHaEP&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=174&amp;h=99">
                  <img class="s-img" width="172" height="114.6" alt="Kodaikanal - Hill Stations To Visit During Summer | Travel Guide" title="Kodaikanal - Hill Stations To Visit During Summer | Travel Guide" data-pos="4" src="https://tse1.mm.bing.net/th?id=OIP.44D4v19OdYZNmauhEvAqEgHaE8&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=172&amp;h=114">
                    <p>
                      Kodaikanal is also popularly known as the princes of Hill Stations. The cool and misty weather, the scenic beauty of the rolling hills and the wooded forest of Kodaikanal and its surroundings will mesmerize any visitor throughout the year

                   </p>
                    <br>
                    <h3> Feedback </h3>
                    <br>

                        <img alt="" class="xvVSEe" src="https://lh3.googleusercontent.com/a/AGNmyxbGtm5gGtiOSMiBDlUMoOBGqlNgnlrAXTqBjGot=s40-cc-mo" data-iml="929.8000000119209">Surya
                        <p>It was very nice experience . I enjoyed it</p>
                        <p><a href="#">Write feedback</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}