{% extends 'dashboard.html' %}
{% block body %}

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
{#                <div class="contact-t">#}
                <h3 class="card-title">Kuttanad</h3>
                <div class="card-description">
                  <img alt="" style="width: 226px; height: 150.1px; margin-top: 14.9px; margin-left: 0px;" class="" src="https://tse1.mm.bing.net/th?id=OIP.4azCugrC9Q1qr9hRKKN96wHaE6&amp;pid=Api&amp;P=0" id="yui_3_5_1_1_1679190211080_625">
<img alt="" style="width: 240px; height: 150px; margin-top: 15px; margin-left: 0px;" class="" src="https://tse3.mm.bing.net/th?id=OIP.B_yHNPjuijS5ey5XEKU8hgHaEo&amp;pid=Api&amp;P=0" id="yui_3_5_1_1_1679190211080_624">
                    <p>Kuttanad  is a region covering the Alappuzha, Kottayam and Pathanamthitta Districts, in the state of Kerala, India, well known for its vast paddy fields and geographical peculiarities.
                   </p>
                    <br>
                    <h3> Feedback </h3>
                    <br>

                        <img alt="" class="xvVSEe" src="https://lh3.googleusercontent.com/a/AGNmyxbGtm5gGtiOSMiBDlUMoOBGqlNgnlrAXTqBjGot=s40-cc-mo" data-iml="929.8000000119209">Surya
                        <p>It was very nice experience . I enjoyed it</p>
                        <p><a href="/write_feedback">Write feedback</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}