{% extends 'dashboard.html' %}
{% block body %}

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">               <div class="contact-t">
                <h3 class="card-title">Munnar</h3>
                <div class="card-description">
                        <img src="https://thumbs.dreamstime.com/b/mountain-tea-plantations-munnar-fog-early-morning-sunrise-kerala-india-64890064.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb pT0Scc KAlRDb" role="" aria-label="" alt="8,352 Munnar Stock Photos - Free &amp; Royalty-Free Stock Photos from Dreamstime" data-noaft="1" style="width: 252.8px; height: 142.2px; margin: 0px;">
                        <img src="https://cdn.pixabay.com/photo/2016/09/02/12/56/munnar-1639120__480.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb pT0Scc KAlRDb" role="" aria-label="" alt="80+ Free Munnar &amp; Kerala Images - Pixabay" data-noaft="1" style="width: 252.8px; height: 142.2px; margin: 0px;">
                    <p>A Munnar, the famed hill station of south India, is a romantic locale where natural beauty is everywhere to visit, explore and to enjoy. Munnar is situated at the confluence of three mountain streams – Muthirapuzha, Nallathanni and Kundala – and the word 'Munnar' means three rivers in Malayalam..</p>
                    <br>
                    <h3> Feedback </h3>
                    <br>

                        <img alt="" class="xvVSEe" src="https://lh3.googleusercontent.com/a/AGNmyxbGtm5gGtiOSMiBDlUMoOBGqlNgnlrAXTqBjGot=s40-cc-mo" data-iml="929.8000000119209">vigneesh
                        <p>It was very nice experience and romantic places ,feeling good</p>
                        <p><a href="/write_feedback">Write feedback</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}