{% extends 'dashboard.html' %}
{% block body %}

 <h2>Orion</h2>
  <h4>Location:Black beach varkala North cliff, Kerala 685612</h4>
  <h4>Images:</h4>
    <img alt="Mad about Coco, hotel in Varkala" itemprop="image" height="200" width="200" class="js-lazy-image " data-src="https://cf.bstatic.com/xdata/images/hotel/square200/338567575.webp?k=136628acc612f587fd52ad678e77dcb4ac4cab01b54767459531d1ede5a0d1f1&amp;o= " data-lazy="1" src="https://cf.bstatic.com/xdata/images/hotel/square200/338567575.webp?k=136628acc612f587fd52ad678e77dcb4ac4cab01b54767459531d1ede5a0d1f1&amp;o=">
  <h4>rates:1000</h4>
  <h4>email id:black@gmail.com</h4>
  <h4>phone no:9876645782</h4> 
  <h2>Food</h2>
<!--  <table border="1"> -->
<!--     <tr> -->
<!--       <th>Food_items</th> -->
<!--       <th> Price</th> -->
<!--       <th>images</th> -->
<!--     </tr> -->
<!--     <tr> -->
<!--       <td>chappathi</td> -->
<!--       <td></td> -->
<!--       <td></td> -->
<!--   </table> -->
    <h3> vegetatian and non vegitarian foods are available</h3>
    <h3> Free wifi</h3>
  <h2><a href="#">view location</a></h2>
{% endblock %}