{% extends 'dashboard.html' %}
{% block body %}


    <form id="form1" name="form1" method="post" action="">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">

                <div class="card">
                    <div class="card-body">
                        <h4>FeedBack</h4><br>

                        <table>
                            <tr>
                                <td><textarea name="feedback" id="feedback" cols="45" rows="15"
                                              class="form-control input-group-text" placeholder="Write your feedback.."
                                              required></textarea></td>
                            </tr>
                            <tr>

                                <td>
                                    <input type="submit" name="button" id="button" value="Submit"
                                           class="btn btn-block btn-lg btn-primary"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
