{% extends 'dashboard.html' %}
{% block body %}

    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h2 class="font-weight-bold">Explore the World</h2>
                <h4 class="font-weight-normal mb-0 secondary-text">Department of Kerala Tourism</h4>
            </div>
            <div class="col-12 col-xl-4">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="/static/asset/images/dashboard/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">

                            <div class="ml-2" align="right">
                                <h4 class="location font-weight-normal" style="color: #4747A1;">The journey of a thousand miles
                                    <br><br>
                                    begins with a single step</h4>
                                <h6 class="font-weight-bold text-uppercase"
                                    style="color: #F3797E; letter-spacing: 5px; word-spacing: 5px;line-height: 50px">
                                    - Lao Tzu</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect mb-5">
            <div class="card-body">
                <h3 class="card-title"><a id="about">About</a></h3>
                <div class="card-description">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum
                    </p>
                </div>
            </div>
        </div>
        </div>
        <br><br>
        <h3 class="font-weight-normal col-12 col-xl-8 mb-5">Passion of Travel</h3>
        <br><br>

        <div class="col-md-12 grid-margin transparent">

            <div class="row">

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="" class="card-hover-effect" style="color: #FFCB74; border-radius: 20px; text-decoration: none">
                        <img src="https://lonelyplanetimages.imgix.net/copilot/images/interest/adventure-travel.jpg?auto=compress&h=800"
                             style="height: 250px; opacity: 1; border-radius: 20px;">
                        <p class="mb-4" align="center"></p>
                        <p class="mb-4" align="center">Adventure</p>
                    </a>
                </div>


                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="" class="card-hover-effect" style="color: #FFCB74; border-radius: 20px; text-decoration: none">
                        <img src="https://th.bing.com/th/id/R.26490fff3dc02e466064ca63e3987321?rik=%2fbBm3HCGfe4VDg&riu=http%3a%2f%2fwww.destinoportugalst.com%2fen%2fwp-content%2fuploads%2f2017%2f06%2fTurismoCultural-1200x700.jpg&ehk=eLC0A4LwJF0BxW%2bhw%2fgl31afmZ9VIrubrowb1GrgpCQ%3d&risl=&pid=ImgRaw&r=0"
                             style="height: 250px; opacity: 1; border-radius: 20px;">
                        <p class="mb-4" align="center"></p>
                        <p class="mb-4" align="center">Cultural</p>
                    </a>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="" class="card-hover-effect" style="color: #FFCB74; border-radius: 20px; text-decoration: none">
                        <img src="https://exploringbeings.com/wp-content/uploads/2020/08/image001-15-1024x768.jpg"
                             style="height: 250px; width: 425px; opacity: 1; border-radius: 20px;">
                        <p class="mb-4" align="center"></p>
                        <p class="mb-4" align="center">Heritage</p>
                    </a>
                </div>

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="" class="card-hover-effect" style="color: #FFCB74; border-radius: 20px; text-decoration: none">
                        <img src="https://th.bing.com/th/id/OIP.6IEkdhrKVsHD1I6MM4655gHaE8?pid=ImgDet&rs=1"
                             style="height: 250px; width: 430px; opacity: 1; border-radius: 20px;">
                        <p class="mb-4" align="center"></p>
                        <p class="mb-4" align="center">Green Tourism</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}